<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">


	<!-- Compiled and minified Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/css?family=Modak|Permanent+Marker&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Eat-da-burger</title>


	<title>Document</title>
</head>

<body>
	{{!-- <img src="/assets/img/cute_burger.jpeg" width="400px" id="cute_burger"> --}}

	{{{ body }}}

	{{!-- <footer class="burgerFooter"> --}}
	{{!-- <div class="footer-copyright"> --}}
	{{!-- <div class="container"> --}}
	<div>
		<span class="grey-text text-lighten-4">© 2019</span>

	</div>

	</footer>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>
</body>

</html>